body {
  font-family: 'PT Sans', sans-serif !important;
  background-color: #e0e0e0  !important;  
}
.logo {
  font-family: 'Cookie', cursive;
  font-size: 38px !important;  
  margin-top: 3px;
  margin-bottom: 3px;
}
.logo:hover, .logo:visited, .logo:active {
  color: #9e9e9e;
}