<div class="container ">
        <h4 class="left"><strong>Cadastro de Projeto</strong></h4>
        <div class="row">
            <form class="col s12" name="formCadastroProjeto">                     
                      <div class="row">
                                <div class="input-field col s12">
                                         <i class="material-icons prefix">account_circle</i>
                                          <input id="name" type="text" class="validate" placeholder="nome" ng-model="projeto.nome" ng-required = "true">
                                          <label for="name"> Nome</label>
                                </div>
                      </div>             
                       
                       <div class="row">
                                <div class="input-field col s12">
                                         <i class="material-icons prefix">account_circle</i>
                                          <input id="descricao" type="text" class="validate" placeholder="Descrição" ng-model="projeto.descricao" ng-required = "true">
                                          <label for="descricao"> Descrição</label>
                                </div>
                      </div>   

                      <div class="row">
                                <div class="input-field col s12">
                                         <i class="material-icons prefix">perm_contact_calendar</i>
                                          <input id="datainicio" type="date" class="datepicker validate" placeholder="Data de Início" ng-model="projeto.datainicio" ng-required = "true">
                                          <label for="datainicio" class="active" >Data de Início</label>
                                </div>
                      </div>   

                       <div class="row">
                                <div class="input-field col s12">
                                         <i class="material-icons prefix">account_circle</i>
                                          <input id="duracao" type="time" class="validate" placeholder="Duração" ng-model="projeto.duracao" ng-required = "true">
                                          <label for="duracao"> Duração</label>
                                </div>
                      </div>   

                      <div class="row">                       
                                <div class="input-field col s12">                                                                                           
                                          <select class="browser-default" ng-model="projeto.ferramenta" ng-options="ferramenta.nome for ferramenta in ferramentas" material-select watch>
                                              <option value="">Selecione uma ferramenta</option>
                                          </select>                                                      
                                </div>
                      </div>                      
                      
                      <div class="row">    
                                          <div class="input-field col">   
                                                      <h4 >Membros</h4>                                                      
                                          </div>   
                                          <div class="input-field col">   
                                                      <a id ="btnAdicionarPessoa"class="btn-floating btn-large waves-effect waves-light red right " href="#/cadastropessoa"><i class="material-icons">add</i></a> 
                                          </div>
                       </div>                   
                      <div class="row">    
                              <div class="input-field col s12">                                         
                                      <select class="browser-default" ng-model="projeto.pessoa" ng-options="pessoa.nome for pessoa in pessoas" material-select watch >
                                          <option value="">Selecione uma pessoa</option>
                                      </select>                                                      
                              </div>
                      </div> 

                      <button class="btn waves-effect waves-light right grey darken-4" type="submit" name="action" ng-click="cadastrarProjeto(projeto)" ng-disabled="formCadastroProjeto.$invalid">Cadastrar
                                <i class="material-icons right">send</i>
                      </button>
                      <button class="btn waves-effect waves-light right deep-orange" type="submit" name="action" ng-if="formCadastroProjeto.$dirty">Limpar
                                <i class="material-icons right">send</i>
                      </button>
            </form>
        </div>
</div>     